<section class="main-container row">
	<h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="cartItems.length<1">Your shopping cart is empty.</h2>
	<div class="container-fluid">
		<article class="row">
		<form class="col-xs-12 col-sm-12 col-md-12 col-lg-12" [hidden]="cartItems.length<1">
			<table>
				<caption>Shopping Cart</caption>
				<thead>
					<tr>
						<th width="20%"></th>
						<th width="50%">Name</th>
						<th width="20%">Price</th>
						<th width="20%">Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of cartItems, let i=index">
						<td><img src="{{item.itemImage}}" /></td>
						<td>{{item.itemName}} <br/> <a href="#" (click)="removeItem($event, item.itemID)">Remove</a></td>
						<td>{{item.itemPriceDollars}}.{{item.itemPriceCents}}</td>
						<td>
							<my-counter [(countr)]="selectedItems[i].numOfItem" [itemCode]="item.itemID"></my-counter>
						</td>
					</tr>
					<tr>
						<td></td>
						<td class="text-right"><button (click)="calc()" class="btn btn-primary">Calculate Total</button></td>
						<td>$ {{totalCost | number:'1.2-2'}}</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</form>
	</article>
	</div>
	
</section>
